@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  background: rgb(16, 8, 24);
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Inter";
  font-family: "Inter";
}